.round {
    width:20px;
    height:20px;
    background:var(  --color-main-green3);
    border-radius:20px;
}

.datelist {
    display: flex;
    float: left;
    text-align: left;
    }

.friendslist {
display: flex;
text-align: left;
}